# create requirements.txt with pip-compile (https://github.com/jazzband/pip-tools)
# pip install pip-tools
# pip-compile
fastapi
uvicorn
requests
tqdm
pymongo
tldextract
beautifulsoup4
lxml
python-dotenv